<header><!--Inicio Header-->
    <nav class="navbar container">
        <picture class="navbar__logo">
            <a href="/">
                <img src="../../img/branding/logo_light_horizontal.svg" alt="Isologotipo de la marca Funkoshop">
            </a>
        </picture>
        <ul class="navbar__menu">
            <li class="navbar__item with-submenu">
                <a class="navbar__link with-icon" href="/shop">SHOP<iconify-icon icon="mdi:chevron-down"></iconify-icon></a>
                <ul class="submenu">
                    <li class="submenu__item">
                        <a href="" class="submenu__link">Funkos</a>
                    </li>
                    <li class="submenu__item">
                        <a href="" class="submenu__link">Remeras</a>
                    </li>
                    <li class="submenu__item">
                        <a href="" class="submenu__link">Llaveros</a>
                    </li>
                </ul>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" href="/contact">CONTACTO</a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" href="/auth/login">LOGIN</a>
            </li>
            <li class="navbar__item">
                <a class="navbar__cart" href="/shop/cart">
                    <img src="../../img/icons/cart-icon.svg" alt="icono de carrito">
                </a>
            </li>
        </ul>
        <iconify-icon class="icon-bar open-menu " icon="fe:bar" id="open-menu"></iconify-icon>
        <!--menu mobile-->
        <aside class="aside-menu">
            <button class="close-menu" id="close-menu">
                <iconify-icon icon="material-symbols:close"></iconify-icon>
            </button>
            <nav>
                <ul class="menu">
                    <li class="navbar__item with-submenu">
                        <a  class="navbar__link with-icon" href="/shop">SHOP <iconify-icon icon="mdi:chevron-right"></iconify-icon></a>
                        <ul class="submenu">
                            <li class="submenu__item">
                                <a href="" class="submenu__link">Funkos</a>
                            </li>
                            <li class="submenu__item">
                                <a href="" class="submenu__link">Remeras</a>
                            </li>
                            <li class="submenu__item">
                                <a href="" class="submenu__link">Llaveros</a>
                            </li>
                        </ul>
                    </li>
                    <li class="navbar__item">
                        <a class="navbar__link" href="/contact">CONTACTO</a>
                    </li>
                    <li class="navbar__item">
                        <a  class="navbar__link"href="/auth/login">LOGIN</a>
                    </li>
                    <li class="navbar__item">
                        <a class="navbar__cart" href="/shop/cart"><img src="./img/icons/cart-icon.svg" alt="icono de carrito"></a>
                    </li>
                </ul>
            </nav>
        </aside>
    </nav>
</header><!--Fin Header-->