<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CREATE | Funkoshop</title>
    <link rel="icon" href="/img/branding/isotype.svg">
    <link rel="stylesheet" href="../../css/styles.css">

    <link rel="stylesheet" href="../../css/styleEdit.css">

    <!--Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Raleway:wght@300&display=swap" rel="stylesheet">


</head>

<body> 
    <%- include ('../../partials/headerAdmin') %>
    <main>
        <section class="container">
        <!-----------COMIENZO -------->
            <article class="box">
                <h1 class="title-create-item">CREAR NUEVO ITEM</h1>
                
                <% if (typeof errors != 'undefined'){ %>
                    <ul>
                        <% errors.forEach(error => { %>
                            <p class="texto-alert"><%= error.msg %></p>
                        <%  }) %>
                    </ul>

                <% } %>



            </article>
            <form class="form box"  action="/admin/productos" method="post" enctype="multipart/form-data">
                <label class="select" for="category_id">Categoria</label>
                <select class="input" id="category_id" name="category_id">
                    <option value="1">Llaveros</option>
                    <option value="2">Remeras</option>
                    <option value="3">Funkos</option>
                    <option value="figure">-</option>
                </select>
                <label class="select" for="licence_id">Licencia</label>
                <select class="input" id="licence_id" name="licence_id">
                    <option value="2">Star Wars</option>
                    <option value="1">Pokemon</option>
                    <option value="3">Harry potter</option>
                    <option value="licencia">-</option>
                </select>
                <div class="box create-name-product">
                    <label class="select" for="product_name">Nombre del Producto:</label>
                    <input class="producto border" type="text" id="product_name" name="product_name" value="<%= typeof values != 'undefined' ? values.nombre  : '' %>"
                    />
                </div>
                <div class="box">
                    <label for="textarea">
                        <textarea class="text-area" name="product_description" rows="8" cols="80" placeholder="Descripción del producto"> </textarea>
                    </label>
                </div>
                <div class="box container__padre">
|                   <div class="container__padre">
                        <label class="select" for="sku">SKU:</label>
                        <input class="producto border2" type="text" id="sku" name="sku" />
                    </div>
                    <div class="container__padre">
                        <label class="select space" for="price">Precio:</label>
                        <input class="producto border2" type="text" id="price" name="price"/>
                    </div>
                    <div class="container__padre">
                        <label class="select space" for="stock">Stock:</label>
                        <input class="producto border3" type="number" id="stock" name="stock" />
                    </div>
                </div>    
                <div class="container__padre box">
                    <label class="select" for="discount">Descuento:</label>
                    <input class="border3" type="number" id="discount" name="discount" />
                    <p>%</p>
                    <label class="select producto" for="dues">Cuotas:</label>
                    <select id="dues" class="input" name="dues">
                        <option value="1">1 cuota sin interés</option>
                        <option value="2">2 cuotas sin interés</option>
                        <option value="3">3 cuotas sin interés</option>
                        <option value="6">6 cuotas sin interés</option>
                    </select>
                </div>
                <article class="box">
                    <div class="container__padre">
                        <label class="select" for="image_front">Imágenes:</label>
                        <input type="file" name="image_front" id="image_front">
                        <p class="text">No se ha seleccionado ningún archivo</p>
                    </div>
                </article>
                <div class="container__padre">
                    <article class="box btn2">
                        <button class="modificar-link" href="" type="submit">Agregar Producto</button>
                    </article>
                    <article class="box btn2">
                        <a class="modificar-link" href="">Limpiar</a>
                    </article>
                </div>    
            </form>
        </section>
    </main>
    <%- include ('../../partials/footer') %>

    <!--Iconos-->
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>

    <script src="../../js/menu-mobile.js"></script>
</body>